<ng-container [ngSwitch]="element()">
    <h1 *ngSwitchCase="'h1'" [class]="typographyClasses()">
        <ng-content></ng-content>
    </h1>
    <h2 *ngSwitchCase="'h2'" [class]="typographyClasses()">
        <ng-content></ng-content>
    </h2>
    <h3 *ngSwitchCase="'h3'" [class]="typographyClasses()">
        <ng-content></ng-content>
    </h3>
    <h4 *ngSwitchCase="'h4'" [class]="typographyClasses()">
        <ng-content></ng-content>
    </h4>
    <h5 *ngSwitchCase="'h5'" [class]="typographyClasses()">
        <ng-content></ng-content>
    </h5>
    <h6 *ngSwitchCase="'h6'" [class]="typographyClasses()">
        <ng-content></ng-content>
    </h6>
    <p *ngSwitchDefault [class]="typographyClasses()">
        <ng-content></ng-content>
    </p>
</ng-container>