<div
    class="flex flex-col h-full p-3 space-y-4 animate-fade-in items-stretch bg-white dark:bg-[#111] border border-black/5 dark:border-white/10 shadow-xl dark:shadow-2xl rounded-2xl overflow-hidden">
    <!-- Dynamic Component Based on Section -->
    <div [ngSwitch]="currentSection" class="flex-1 overflow-y-auto pr-1 -mr-1 custom-scroll">
        <app-community-sidebar-right *ngSwitchCase="'community'" [friends]="friends">
        </app-community-sidebar-right>

        <app-media-sidebar-right *ngSwitchCase="'video'" [trendingVideos]="trendingVideos">
        </app-media-sidebar-right>

        <app-media-sidebar-right *ngSwitchCase="'media'" [trendingVideos]="trendingVideos">
        </app-media-sidebar-right>

        <app-media-sidebar-right *ngSwitchCase="'podcast'" [trendingPodcasts]="trendingPodcasts">
        </app-media-sidebar-right>

        <app-marketplace-sidebar-right *ngSwitchCase="'marketplace'">
        </app-marketplace-sidebar-right>

        <app-community-sidebar-right *ngSwitchDefault [friends]="friends">
        </app-community-sidebar-right>
    </div>
</div>