<div class="flex items-start space-x-2">
    <ui-checkbox [disabled]="disabled()" [size]="size()" [checkboxId]="checkboxId()" [ariaDescribedBy]="descriptionId()"
        [required]="required()" [indeterminate]="indeterminate()"
        (checkedChange)="onCheckedChange($event)"></ui-checkbox>
    <div class="grid gap-1.5 leading-none">
        <label [for]="checkboxId()" [class]="labelClasses()" (click)="toggleCheckbox()">
            @if (label()) {
            {{ label() }}
            } @else {
            <ng-content select="[slot=label]"></ng-content>
            }
        </label>
        @if (description() || hasDescriptionContent()) {
        <p [id]="descriptionId()" class="text-sm text-muted-foreground">
            @if (description()) {
            {{ description() }}
            } @else {
            <ng-content select="[slot=description]"></ng-content>
            }
        </p>
        }
    </div>
</div>